.app {
  text-align: center;
}

body{
  background-color: gray;
  margin: 3%;
}

.heading {
  padding:20px; 
  font-family: 'robot'; 
  color:#FFFFFF
}

.chart{
  margin-bottom: 5%;
  background-color: ghostwhite;
}
.chartHeading {
  padding:20px;
  font-family:'robot';  
  color:#000;
}
.table{
  margin-bottom: 3%;
  background-color: ghostwhite;
}